<h1>Create a Team and Heroes!</h1>
<form action="" method="POST">
  <p>
    <label id="team_name">Team Name: </label><input id="team_name" type="text" name="team[name]"><br>
    <label id="team_motto">Team Motto: </label><input id="team_motto" type="text" name="team[motto]">
  </p>
  <h2>Hero 1</h2>
  <p>
    <label id="member1_name">Team Name: </label><input id="member1_name" type="text" name="member[][name]"><br>
    <label id="member1_power">Team Name: </label><input id="member1_power" type="text" name="member[][power]"><br>
    <label id="member1_bio">Team Name: </label><input id="member1_bio" type="text" name="member[][bio]">
  </p>
  <h2>Hero 2</h2>
  <p>
    <label id="member2_name">Team Name: </label><input id="member2_name" type="text" name="member[][name]"><br>
    <label id="member2power">Team Name: </label><input id="member2_power" type="text" name="member[][power]"><br>
    <label id="membe2_bio">Team Name: </label><input id="member2_bio" type="text" name="member[][bio]">
  </p>
  <h2>Hero 3</h2>
  <p>
    <label id="member3_name">Team Name: </label><input id="member3_name" type="text" name="member[][name]"><br>
    <label id="member3power">Team Name: </label><input id="member3_power" type="text" name="member[][power]"><br>
    <label id="member3_bio">Team Name: </label><input id="member3_bio" type="text" name="member[][bio]">
  </p>
  <button type="submit" id="submit">Submit</button>
</form>
